/* Tailwind's base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-get-it-now {
  @apply inline-block capitalize bg-blue-800 text-white py-2 px-6 rounded-lg hover:bg-blue-700 hover:text-white focus:text-white focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 ease-in-out;
}

.site-main {
  // @apply container;
}

/* Your custom styles */
.color-option {
  width: 50px;
  height: 50px;
  border-radius: 0;
  display: inline-block;
  margin-right: 5px;
  overflow: hidden;
  box-shadow: 0 3px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
  }

  &.active,
  &:hover {
    box-shadow: 0 3px 0px 0px rgba(0, 0, 0, 1);

    img {
      transform: scale(1.1);
    }
  }
}

.ast-article-post {
  .ast-grid-common-col {
    padding-left: 0;
    padding-right: 0;
  }

  .post-thumb-img-content img {
    aspect-ratio: 16 / 9;
    box-shadow: none;
    transform: scale(1);
    transition: transform 0.5s ease;
  }

  &:hover {
    .post-thumb-img-content img {
      transform: scale(1.1);
    }
  }
}

.custom-grid {
  margin-inline: -1rem;

  article {
    @apply w-full md:w-1/2 lg:w-1/3 xl:w-1/4 !px-4 !mb-8;

    .blog-layout-4 {
        @apply overflow-hidden rounded-[6px];
    }
  }
}
